{{ if site.Params.showBackgroundImage }}
<style>
    body {
        background: url('{{ "images/background.png" | relURL }}') no-repeat center center fixed !important;
        -webkit-background-size: cover !important;
        -moz-background-size: cover !important;
        -o-background-size: cover !important;
        background-size: cover !important;
    }
</style>
{{ end }}
<style>
    body.dark {
        background: url('{{ "images/dark_bg.png" | relURL }}') no-repeat center center fixed !important;
        -webkit-background-size: cover !important;
        -moz-background-size: cover !important;
        -o-background-size: cover !important;
        background-size: cover !important;
    }
</style>
<style>
    /* Background for post pages */
    body:has(.post-single),
    body:has(.post-content) {
        background-image: url('{{ "images/background.png" | relURL }}');
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
    }
    body.dark:has(.post-single),
    body.dark:has(.post-content) {
        background-image: url('{{ "images/dark_bg.png" | relURL }}');
    }
</style>
